:root {
  --color-primary: #501ca4;
  --color-secondary: #cd0000;
  --color-text-main: #222222;
  --color-background: #5d5050;
  --color-surface: #f5f5f5;
  --color-gray: #b4adad42;
  --color-border: #b4b4b4;

  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
}